header {
    font-size: 25px;
    background-color: blue;
    color: white;
    text-align: center;
}

.city {
    
}
.searchTitle {
    font-size: 20px;
    font-weight: bold;
   
}

.cityInput {
    margin: 5px;
}

>.btn {
    margin: 2px;
}

footer {
    font-size: 7px;
}